$font-mono: 'Courier New', Courier, monospace;
$font-text: '微软雅黑', sans-serif;

$font-w-reg: 400;
$font-w-bold: 700;

$color-theme-00: #212745;
$color-theme-01: #C7CCE4;
$color-theme-02: #909ACA;
$color-theme-03: #5967AF;
$color-theme-04: #181D33;
$color-theme-05: #101322;

$color-theme-10: #B4DCFA;
$color-theme-11: #8BC9F7;
$color-theme-12: #4FACF3;
$color-theme-13: #0D78C9;
$color-theme-14: #063C64;
$color-theme-15: #021828;

$color-theme-20: #4E67C8;
$color-theme-21: #DBE0F3;
$color-theme-22: #B8C2E9;
$color-theme-23: #94A3DD;
$color-theme-24: #31479F;
$color-theme-25: #202F6A;

$color-theme-30: #5ECCF3;
$color-theme-31: #DEF4FC;
$color-theme-32: #BEEAFA;
$color-theme-33: #9EE0F7;
$color-theme-34: #11B2EB;
$color-theme-35: #0B769C;

$color-theme-40: #A7EA52;
$color-theme-41: #EDFADC;
$color-theme-42: #DBF6B9;
$color-theme-43: #CAF297;
$color-theme-44: #81D319;
$color-theme-45: #568C11;

$color-theme-50: #5DCEAF;
$color-theme-51: #DEF5EF;
$color-theme-52: #BEEBDF;
$color-theme-53: #9DE1CE;
$color-theme-54: #34AC8B;
$color-theme-55: #22725C;

$color-theme-60: #FF8021;
$color-theme-61: #FFE5D2;
$color-theme-62: #FECCA6;
$color-theme-63: #FFB279;
$color-theme-64: #D85C00;
$color-theme-65: #903D00;

$color-theme-70: #F14124;
$color-theme-71: #FCD9D3;
$color-theme-72: #F9B3A7;
$color-theme-73: #F68D7B;
$color-theme-74: #C3260C;
$color-theme-75: #821908;

$color-grey-0: #F2F2F2;
$color-grey-1: #D8D8D8;
$color-grey-2: #BFBFBF;
$color-grey-3: #A5A5A5;
$color-grey-4: #7F7F7F;
$color-grey-5: #7F7F7F;
$color-grey-6: #595959;
$color-grey-7: #3F3F3F;
$color-grey-8: #262626;
$color-grey-9: #0C0C0C;

$color-white: #FFF;
$color-black: #000;

$color-txt: $color-theme-05;
$color-txt-lt: $color-theme-51;
$color-header: $color-grey-0;
$color-data: $color-theme-41;

$color-bg-mid: $color-theme-53;
$color-bg-dk: $color-theme-55;

$color-info-txt: $color-theme-44;
$color-info-bg: $color-theme-41;
$color-info-bdr: $color-theme-45;

$color-err-txt: $color-theme-74;
$color-err-bg: $color-theme-71;
$color-err-bdr: $color-theme-75;

$size-pad-sm: 2px;
$size-pad-mid: 4px;
$size-pad-lg: 10px;

$size-txt-sm: 12px;
$size-txt-mid: 14px;
$size-txt-mid-lg: 18px;
$size-txt-lg: 28px;
